.headingContainer{
  width: 100%;
  padding: 20px 35px;
  display: flex;
  gap: 44px;
  align-items: center;
  /* background-color: #828282; */
  /* position: absolute; */
}
.textbox{
  position: relative;
  flex-basis: 34%;
}

.searchInput{
  width: 100%;
  height: 56px;
  background: #FCFCFC;
  border-radius: 50px;
  border: none;
  padding-top: 5px;
  padding-left: 60px;
}

input.searchInput::placeholder{
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #BBBBBB;
}



.searchIcon{
  position: absolute;
  left: 18px;
  top: 18px;
}

.liveState{
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #828282;
}

.language{
  /* width: 170px; */
  flex-basis: 15%;
  height: 56px;
  border-radius: 50px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #828282;
  border: 1px solid rgba(224, 224, 224,0.6);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 18px 30px;
  cursor: pointer;
}

.ringBtn{
  width: 56px;
  height: 56px;
  background: rgba(224, 224, 224,0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userBox{
  /* width: 250px; */
  flex-basis: 20%;
  height: 56px;
  display: flex;
  align-items: center;
  gap: 18px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid rgba(224, 224, 224,0.2);
}

.userImg{
  height: 56px;
  width: 56px;
  background-color: #ccc;
}

.userData{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  border-radius: 10px;
}

.userName{
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
}

.userID{
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #BDBDBD;
}