*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

.container{
  /* display: flex; */
  height: 100%;
  padding-left: 16%;
}

.rightSide{
  width: 100%;
  padding-right: 40%;
}